<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.msms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AboutUsActivity"
            android:parentActivityName=".SecondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>
        <activity
            android:name=".DispenseMedicineActivity"
            android:parentActivityName=".MedicalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MedicalActivity" />
        </activity>
        <activity
            android:name=".ViewMedicineActivity"
            android:parentActivityName=".MedicalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MedicalActivity" />
        </activity>
        <activity
            android:name=".AddMedicineActivity"
            android:parentActivityName=".MedicalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MedicalActivity" />
        </activity>
        <activity
            android:name=".RegisterNewPatientsActivity"
            android:parentActivityName=".PatientsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PatientsActivity" />
        </activity>
        <activity
            android:name=".ViewPatientsActivity"
            android:parentActivityName=".PatientsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PatientsActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:parentActivityName=".SecondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>
        <activity
            android:name=".StuffActivity"
            android:parentActivityName=".SecondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:parentActivityName=".SecondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>
        <activity
            android:name=".MedicalActivity"
            android:parentActivityName=".SecondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>
        <activity
            android:name=".PatientsActivity"
            android:parentActivityName=".SecondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>